nav .brand-logo {
    margin-left: 1rem !important;
}

.bg-green {
    background-color: #4db6ac;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
input[type="email"],
select.form-select,
textarea.form-control {
    background: transparent;
    border: white;
    border-bottom: 1px solid #4db6ac;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select.form-select:focus,
textarea.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.glass {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.842);
    backdrop-filter: blur(4px);
}

.glass_2 {
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.842);
    backdrop-filter: blur(4px);
}

.nav-tabs .nav-link.active {
    background-color: #dff2f0;
}

#note {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: vertical;
}

.icon {
    color: gray !important;
    text-decoration: none;
}

.icon:hover {
    color: black !important;
    text-decoration: none;
}